

.table{
    height:100%;
}


.table.dreams{

    background-color: black;

}

.table.journal{

    background-color: rgb(17, 136, 157);
    

}

.journal.topRow{
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
    z-index:1;
    width:100%;
    display:flex;

}
.dreams.topRow{
    position:absolute;
    z-index:1;
        width:100%;
    display:flex;
}

.dreams.topRow *{
    margin:auto;

}

.journal.topRow *{
    margin:auto;
    
}

#journalCanvas{
    position:absolute;
    z-index:0;
    height:100%;
    width:100%;
}
.listOfEntries{
    position:relative;
    width:80%;
    margin:auto;
    padding:5px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:white;
    color:black;

}

.listOfEntries *{
    width:80%;
    margin:auto;
    padding:5px;
    text-align:left;
    background-color:white;
    color:black ! important;

}

.formsDiv{
    width:100%;
    
    display:flex;
    flex-direction: column;
    text-align:center;
    position:relative;
}

.formsDiv *{
    width:80%;
    margin:auto;
    background-color: white;
    color:black;
    padding:5px;
    border-radius:10px;
    
}

.formsDiv div, .formsDiv form{
    border-radius:0px;
}
.formsDiv textarea{

    min-height:200px;
    
}

.formsDiv input[type="text"]{
    min-height:50px;
}

.formsDiv button{
    margin-top:5px;

}
.formsDiv button:hover{
    background-color:black;
        /* border: 1px solid WHITE; */
    color:white
}

#symbolLable{
    margin-top:20px;
}